[submodule "external/yolov5"]
	path = external/yolov5
	url = https://github.com/ultralytics/yolov5.git
[submodule "yolov5"]
	path = yolov5
	url = https://github.com/ultralytics/yolov5.git
[submodule "cvat"]
	path = cvat
	url = https://github.com/opencv/cvat.git
