cvat/

venv/
fence/lib/python3.10/site-packages/torch/

*.dylib



*.dylib
*.so
*.dllfence/lib/
temp_repo/
fence/lib/python3.10/site-packages/torch/lib/libtorch_cpu.dylib
fence/lib/python3.10/site-packages/torch/lib/libtorch_cpu.dylib
